{namespace fed=Tx_Fed_ViewHelpers}

<f:layout name="Default" />

<f:section name="Main">

	<fed:style href="{f:uri.resource(path: 'Stylesheet/Review.css')}" />
	<fed:style href="{f:uri.resource(path: 'Stylesheet/Print.css')}" />

	<f:for each="{list}" as="application" iteration="iteration">
		<div class="application">
			<h1>{application.applicant.name}</h1>
			<f:render partial="Application/Review" arguments="{application: application, statuses: statuses, print: TRUE}" />
			<f:render partial="Application/Properties" arguments="{application: application}" />
		</div>
	</f:for>

</f:section>